.sidebar {
  position: relative;
  width: 220px;
  height: 100vh;
  border-right: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;

  flex-shrink: 0;
  min-width: 220px;
  max-width: 220px;
}

.sidebar-title {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  transition: all .3s ease;
}
.sidebar-title:hover {
  color: #199c7e;
  background-color: #f5f9ff;
}

.sidebar-footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-btn {
  padding: 8px;
  border-top: 1px solid #e2e2e2;
}
