<template>
  <form class="auth_card" v-on:submit.prevent="btn.action">
    <template v-for="item in input" :key="item.id">
      <label class="auth_card_label" v-text=" item.label "></label>
      <input
        class="auth_card_input"
        :type="item.type"
        :value="item.value"
        :placeholder="item.placeholder"
        v-on:input="$emit('update_input', { id: item.id, value: $event.target.value })"
      />
    </template>


    <component is="btn" v-on:click="btn.action">
      <span v-text="btn.title"></span>
    </component>
  </form>
</template>