.btn {
  padding: .5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #199c7e;
  font-weight: bold;
  color: #fff;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #167861;
}
