<template>
  <div class="login">
    <div class="login-card">
      <auth-tabs active="login" />

      <form class="login-card_form" v-on:submit.prevent="loginUser">
        <label class="login-card_form_label">Username</label>
        <input v-model="username" 
        type="text" 
        placeholder="Enter username" class="login-card_form_input" />

        <label class="login-card_form_label">Password</label>
        <input v-model="password"
        type="password" 
        placeholder="Enter password" class="login-card_form_input" />

        <button type="submit" class="login-card_form_button">Login</button>
      </form>
    </div>
  </div>
</template>
