<template>
  <div class="login">
    <div class="login-card">
      <auth_tab active_tab="login" />
      <component is="auth_card"
        :input="inputs"
        :btn="{ title: 'Login', action: login_user, }"
        v-on:update_input="updateInput">
      </component>

      <!-- <form class="login-card_form" v-on:submit.prevent="login_user">
        <label class="login-card_form_label">Username</label>
        <input class="login-card_form_input"
          type="text"
          v-model="username"
          placeholder="Enter username" />

        <label class="login-card_form_label">Password</label>
        <input class="login-card_form_input"
          type="password"
          v-model="password"
          placeholder="Enter password" />

        <button class="login-card_form_button" type="submit">Login</button>
      </form> -->
    </div>
  </div>
</template>
