<div class="note_detail">
  <component is="sidebar" :clickable="true">
    <div class="note_detail-sidebar"
      v-if="notes_list.length">
      <span class="note_detail-sidebar_item"
        :class="{ active: current_note_id == note.id }"
        v-for="note in notes_list" 
        :key="note.id" 
        v-text="note.title"
        v-on:click="open_note(note.id)">
      </span>
    </div>
  </component>

  <main class="note_detail-content" v-if="current_note">
    <h2 class="note_detail-content_title"
      v-text="current_note.title">
    </h2>
    <p class="note_detail-content_date"
      v-text="`Дата: ${current_note.created_at}`">
    </p>
    <p class="note_detail-content_text"
      v-text="current_note.text">
    </p>
    
    <div class="note_detail-content_actions">
      <component is="btn"
        v-on:click="open_modal">
        <span v-text="'Редактировать'"></span>
      </component>
      <component is="btn"
        v-on:click="delete_note">
        <span v-text="'Удалить'"></span>
      </component>
    </div>
  </main>

  <main v-else>
    <p v-text="'Заметка не найдена'"></p>
  </main>

  <component v-show="is_open_modal"
    is="modal"
    :header="`Редактирование заметки' ${current_note.title}`"
    v-model:title="current_note.title"
    v-model:text="current_note.text"
    v-on:save="editNote()"
    v-on:cancel="cancel_editing()">
  </component>
</div>
